.wallet{
    background-color: #6f2c91;
    color: rgb(249, 249, 249);
}
.wallet-icon{
    width: 10%;
    height: 10%;
}
.glassmorphism {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect for the glassy look */
    -webkit-backdrop-filter: blur(10px); /* Safari support for backdrop-filter */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Optional shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    padding: 20px; /* Padding to make it look better */
}